#menu{
	position: absolute;
	width: 485px;
	height: 35px;
	background-color: #FFF;
	top:0;
	left:50%;
	margin-left: -250px;
	z-index: 999999;
	border: 2px solid #CCC;
	border-top: 0;
}

#menu-bottom{
	position: absolute;
	width: 840px;
	height: 50px;
	background-color: #FFF;
	bottom:0;
	left:50%;
	margin-left: -395px;
	z-index: 999999;
	border: 2px solid #CCC;
	border-bottom: 0;
	float: left;
}

#menu-bottom div{
	width: auto;
	height: 50px;
	float: left;
}

#menu-bottom a{
	font-family: 'Roboto Condensed', sans-serif;
	display: block;
	width: 50px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	float: left;
	background-color: #CCC;
	font-weight: bold;
	margin: 5px 0 0 0;
	text-decoration: none;
	color:#333;
	font-size: 15px;
}

#selection-title{
	display: block;
	width: 180px;
	height: 25px;
	margin: 5px 0 0 5px;
	font-family: 'Roboto Condensed', sans-serif;
	color:#333;
	font-weight: bold;
	font-size: 15px;
	float: left;
	line-height: 25px;
}

.selection{
	padding-left: 5px;
	font-family: 'Roboto Condensed', sans-serif;
	color:#333;
	width: 295px;
	height: 25px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	border:0;
	font-size: 15px;
	font-weight: bold;
}

iframe{
	margin:0;
	overflow: hidden;
}

#loading{
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
	width: 300px;
	height: 300px;
	z-index: 99999;
	overflow: hidden; 
	border: 0;
}